header {
  text-align: center;
}
@media all and (max-width: 768px) {
  header img {
    width: 150px;
  }
}

/* nav */
nav {
  text-align: center;
  padding-top: 10px;
}
nav #menu {
  background-color: #f3f3f2;
  padding-bottom: 40px;
}
nav #menu h2 {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
nav #menu P {
  font-size: 20px;
  color: #4d4c4c;
  padding-bottom: 25px;
}
nav #menu a {
  border: 0px black solid;
  border-radius: 20px;
  padding: 15px 25px;
  text-decoration: none;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
}
nav .menu1 {
  display: flex;
  justify-content: center;
  border: 0px black solid;
  -webkit-box-shadow: 4px -2px 9px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 4px -2px 9px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 4px -2px 9px 0px rgba(0, 0, 0, 0.33);
  background-color: #e7e7e7;
}
nav .menu1 .fa-map-marker {
  padding: 20px;
}
@media all and (max-width: 768px) {
  nav nav {
    width: 100%;
  }
}

/* main */
main .link {
  display: flex;
  border: 0px black solid;
  border-radius: 15px;
  -webkit-box-shadow: 6px 4px 15px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 6px 4px 15px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 6px 4px 15px 0px rgba(0, 0, 0, 0.38);
  margin: 20px;
  width: 300px;
  height: 70px;
  position: relative;
  background-color: #9356DC, 0;
  transition: transform 100ms background-color 0.1ms;
}
main .link .fas {
  color: grey;
  font-size: 20px;
  transform: scale(1);
  transition: transform 50ms;
  padding-top: 20px;
  padding-right: 20px;
}
main .link .fas:hover {
  transform: scale(1.15);
  color: #9356DC;
}
main .link span {
  border: 0px black solid;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-top: 15px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  right: 10px;
  background-color: #9356DC;
  color: white;
  font-weight: bolder;
}
main .link:hover {
  transform: scale(1.13);
  background-color: rgba(147, 86, 220, 0.2);
}
main a {
  text-decoration: none;
  color: black;
}

/* Section */
section {
  background-color: #f7f2f2;
}
section .menu-resto {
  border: 0px black solid;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.24);
  background-color: white;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
}
section .menu-resto .fa-heart {
  float: right;
  position: relative;
  bottom: 50px;
  padding-right: 10px;
  font-size: 30px;
  transform: scale(1);
  transition: transform 50ms, linear 100ms;
}
section .menu-resto .fa-heart:hover {
  transform: scale(1.13);
  color: #9356DC;
}
section .menu-resto .plats {
  padding: 10px;
  position: relative;
  bottom: 80px;
}
section .menu-resto a {
  text-decoration: none;
  color: black;
}
section .menu-resto h3 {
  color: #0d8869;
  background-color: #99E2D0;
  border: 0px black solid;
  width: 90px;
  height: 30px;
  margin-left: 60px;
  padding-left: 20px;
  position: relative;
  bottom: 210px;
  left: 100px;
  font-size: 20px;
}
section .menu-resto .sans-nouveau {
  opacity: 0;
}
section .menu-resto img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* footer */
footer {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: 10px;
}
footer h1 {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  padding-left: 25px;
}
footer li {
  list-style-type: none;
}
footer li .link-fas {
  display: flex;
}
footer li .link-fas .fas {
  position: relative;
  top: 15px;
  right: 10px;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer li #contacte {
  position: relative;
  top: 20px;
}

/*# sourceMappingURL=style.css.map */
