@charset "UTF-8";
.menu-food article .link-food p, .menu-food article .link-food h2, .menu-food article .link-food span, section #bolde, main h1, nav #menu h2 {
  font-family: "Roboto", sans-serif;
}

.menu-food .btn button, nav #menu .btn {
  padding: 15px 25px;
  text-decoration: none;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
}

.menu-food article .link-food .fas, .menu-food article .link-food, .menu-food .btn button, section .menu-resto, main .link, nav #menu .btn {
  border: 0px black solid;
  -webkit-box-shadow: 6px 4px 15px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 6px 4px 15px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 6px 4px 15px 0px rgba(0, 0, 0, 0.38);
}

.menu-food {
  border: 0px black solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* entete(logo de site) */
header {
  text-align: center;
}
@media all and (max-width: 768px) {
  header img {
    width: 150px;
  }
}

/* nav( la localisation des restaurant) */
nav {
  text-align: center;
  padding-top: 10px;
}
nav #menu {
  background-color: #f3f3f2;
  padding-bottom: 40px;
  /* animation de bouton */
}
nav #menu P {
  font-size: 20px;
  color: #4d4c4c;
  padding-bottom: 25px;
}
nav #menu .btn {
  border-radius: 25px;
}
nav #menu .btn:hover {
  opacity: 0.8;
  box-shadow: 7px 4px 15px 0px rgba(0, 0, 0, 0.8);
}
nav .menu1 {
  display: flex;
  justify-content: center;
  border-top: 3px #c9c7c7 solid;
  background-color: #e7e7e7;
}
nav .menu1 .fa-map-marker {
  padding: 20px;
}
@media all and (max-width: 768px) {
  nav nav {
    width: 100%;
  }
}

/* main (3 fonctionnement)*/
main h1 {
  font-size: 30px;
  font-weight: bolder;
  padding-left: 10px;
}
main .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .link {
  display: flex;
  border-radius: 15px;
  margin: 20px;
  padding-right: 5px;
  padding-left: 5px;
  height: 70px;
  background-color: #f7f5f5;
}
main .link:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
main .link .fas {
  color: grey;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 10px;
}
main .link .fas:hover {
  color: #9356DC;
}
main .link span {
  border: 0px black solid;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-top: 15px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  right: 10px;
  background-color: #9356DC;
  color: white;
  font-weight: bolder;
}
main a {
  text-decoration: none;
  color: black;
  padding-right: 5px;
}

/* Section1 (4 menu au page d'acceuil)*/
section {
  background-color: #f6f8f8;
  padding-bottom: 35px;
  /* pour le responsive de site  */
}
section #bolde {
  font-weight: bolder;
  font-size: 30px;
  padding: 10px;
}
section .article {
  display: flex;
  flex-wrap: wrap;
}
section .menu-resto {
  border-radius: 15px;
  background-color: #fcf9f9;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  /* pour le bouton nouveau */
}
section .menu-resto .bloc {
  display: flex;
  /* animation de coeur */
}
section .menu-resto .bloc .coeur {
  position: relative;
  bottom: 50px;
  left: 30px;
  width: 25%;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  transition: all 300ms ease;
}
section .menu-resto .bloc .coeur:hover .far {
  color: #FF79DA;
  opacity: 0.5;
}
section .menu-resto .bloc .coeur .fas {
  font-size: 35px;
  opacity: 0;
  position: relative;
  right: 35px;
}
section .menu-resto .bloc .coeur .fas:active {
  opacity: 1;
  background: -webkit-linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: color-coeur 1s ease-in both;
}
@keyframes color-coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section .menu-resto .bloc .plats {
  padding: 10px;
  position: relative;
  bottom: 95px;
  width: 75%;
}
section .menu-resto a {
  text-decoration: none;
  color: black;
  /* image de menu */
}
section .menu-resto a h3 {
  color: #0d8869;
  background-color: #99E2D0;
  border: 0px black solid;
  width: 90px;
  height: 30px;
  margin-left: 60px;
  padding-left: 20px;
  position: relative;
  bottom: 210px;
  left: 100px;
  font-size: 20px;
}
section .menu-resto a .sans-nouveau {
  opacity: 0;
}
section .menu-resto a img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-position: center;
  background-size: cover;
}

/* Section2  (spineer)*/
#spinner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spinner h2 {
  opacity: 0;
  font-size: 10px;
}
#spinner circle {
  fill: none;
  stroke: #FF79DA;
  stroke-width: 10px;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 70;
  opacity: 0;
  animation-duration: 3s;
  animation: rotation 2000ms ease-in-out alternate;
}
@keyframes rotation {
  0% {
    stroke-dasharray: 100 100;
    stroke-dashoffset: 70;
    stroke: #FF79DA;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 20 20;
    stroke-dashoffset: -600;
    stroke: #9356DC;
    opacity: 1;
  }
}

/* menu-food */
nav img {
  width: 350px;
  height: 250px;
}

/* fleche de retour à la page d'acceuil */
.retour {
  color: black;
  font-size: 20px;
  position: relative;
  left: 40px;
  top: 30px;
}

.menu-food {
  position: relative;
  bottom: 60px;
  /* animation de boutton de commander */
}
.menu-food #titre {
  font-family: "Shrikhand", cursive;
  padding: 20px;
}
.menu-food .btn {
  text-align: center;
}
.menu-food .btn button {
  border-radius: 25px;
}
.menu-food .btn button:hover {
  opacity: 0.8;
  box-shadow: 7px 4px 15px 0px rgba(0, 0, 0, 0.8);
}
.menu-food .fa-heart {
  font-size: 25px;
  transform: translate(290px, -10vh);
}
.menu-food article h3 {
  text-transform: uppercase;
  color: #302f2f;
  border-bottom: 4px #99E2D0 solid;
  width: 55px;
  margin-left: 20px;
}
.menu-food article .link-food {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  height: 70px;
  width: 500px;
  margin-left: 100px;
  padding-left: 10px;
  margin-bottom: 30px;
  background-color: white;
  cursor: pointer;
  animation-duration: 2s;
  animation: transition 250ms cubic-bezier(0.13, 0, 1, 0.24) alternate forwards;
  /* animation d'apparaître progressivement */
  /* animation d'apparaître une petite coche à la clic du plat */
}
@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translatey(-5%);
  }
}
.menu-food article .link-food:nth-child(1) {
  animation-duration: 0.5s;
}
.menu-food article .link-food:nth-child(2) {
  animation-duration: 0.75s;
}
.menu-food article .link-food:nth-child(3) {
  animation-duration: 1s;
}
.menu-food article .link-food .menus {
  position: relative;
}
@media all and (max-width: 768px) {
  .menu-food article .link-food {
    width: auto;
    margin: 30px 5px;
  }
}
.menu-food article .link-food:hover {
  /* décalage de prix au survole  */
  /* animation de ... au survole si la phrase est longue */
}
.menu-food article .link-food:hover .fas {
  opacity: 0.1;
}
.menu-food article .link-food:hover span {
  position: absolute;
  animation-delay: -5s;
  transform: translateX(-40px) translateY(15px);
}
.menu-food article .link-food:hover p {
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-food article .link-food:hover h2 {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-food article .link-food a {
  text-decoration: none;
  color: black;
}
.menu-food article .link-food span {
  position: relative;
  left: 280px;
  bottom: 30px;
  font-weight: bolder;
}
.menu-food article .link-food h2 {
  font-size: 15px;
  overflow: visible;
}
.menu-food article .link-food p {
  font-size: 12px;
  overflow: visible;
  opacity: 0.7;
}
.menu-food article .link-food .fas {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  width: 35px;
  height: 40px;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 20px;
  color: white;
  opacity: 0;
}
.menu-food article .link-food .fas:active {
  opacity: 1;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-duration: 1s;
}

/* footer */
.footers {
  position: relative;
  bottom: 60px;
}

footer {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 30px;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  padding-left: 25px;
}
footer li {
  list-style-type: none;
}
footer li .link-fas {
  display: flex;
}
footer li .link-fas .fas {
  position: relative;
  top: 15px;
  right: 10px;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer li #contacte {
  position: relative;
  top: 20px;
}

/*# sourceMappingURL=style.css.map */
